/* BODY CSS */
.intro{
	display:flex;
	justify-content: space-around;
	padding:96px 16px 64px 16px;
	background-color:var(--bg-color);
	gap: 32px;
}
.intro img{
	width:50%;
}
.intro .slogan{
	margin:auto 0;
	text-align: center;
	font-size:3em;
	color:var(--color);
}

.tujuan{
	text-align:center;
	background-color:var(--bg-color);
	padding-bottom:10em;
}
.tujuan .header{
	font-size:2em;
	color:var(--color);
	padding-bottom:2rem;
}
.tujuan-list{
	display:flex;
}
.tujuan .isi{
	padding:16px;
	margin:8px auto 8px auto;
	font-size:1.5em;
	color:var(--color);
	background-color:var(--sectioncolor);
}

.outro{
	text-align:center;
	background-color:var(--bg-color);
	padding-bottom:10em;
}
.outro .mulai{
	padding:16px;
	color:#fff;
	font-size:1em;
	background-color:var(--buttoncolor);
}

.stories-section{
    background:var(--bg-color);
	padding: 96px 32px;
}
.stories-section-header{
	color:var(--color);
	font-size:2em;
	padding-bottom: 64px;
}
.ourstories{
	font-family: Caveat,sans-serif;
	color:var(--color);
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:4em;
    width:100%;
    max-width:1280px;
    margin:0 auto;
	text-align:center;
}
.ourstories a{
	cursor:pointer;
}
.story-grid{
    background:var(--sectioncolor);
}
.code {
    color: var(--color);
    transition: color 0.3s ease-out;
}
.story-grid:hover .code {
    color: var(--buttoncolor);
  }
.story-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
.story-text{
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.slider-section{
    background:var(--bg-color);
	padding: 96px 32px;
}
.slider-header{
	color:var(--color);
	font-size:2em;
	background-color:var(--bg-color);
	padding-bottom: 64px;
}
.slider{
	background-color:var(--bg-color);
	margin:0 auto;
	display:grid;
	grid-template-columns: repeat(10, 1fr);
	overflow:hidden;
}
.slide-img{
	padding:0 32px;
	font-size:3em;
	text-align:center;
	cursor:pointer;
}
.banner{
	/* BLUE : #007bff */
	background-color:var(--bg-color);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding: 96px 32px;
}
.bh-reminder{
	padding:16px;
	background:var(--buttoncolor);
	color:white;
	font-size:1.5em;
	border-radius:8px;
}
.nowTime{
    padding-top: 16px;
	color:var(--color);
	font-size:1.5em;
}
/* SLIDER SECTION */
/* FEEDBACK SECTION */
/* .feedback{
	padding: 10em 0;
	background:var(--bg-color);
}
.feedback-header{
	color: var(--color);
	padding-bottom:1em;
    font-size: 2em;
	text-align: center;
}
.feedback-content{
    background: var(--bg-color);
    width:100%;
    padding: 16px 32px;
}
.form-group{
	display:flex;
	flex-direction:column;
	margin: 0 auto 1em auto;
	max-width:360px;
}
.form-label{
	color:var(--color);
	padding-bottom:8px;
}
.form-control {
	display: block;
	width: 100%;
	height: 2.375rem;
	padding: 0.5rem 0.5rem;
	color: var(--sectioncolor);
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 8px;
	outline: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-textarea{
	min-height: 120px;
	width: 100%;
	resize: vertical;
}
#feedback-button{
    border: 0;
    background: var(--buttoncolor);
    padding: 8px;
    width: 100%;
    box-shadow: 0 12px 24px rgb(2 30 84 / 10%);
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
#feedback-button:hover{
	background:var(--buttoncolor);
} */
/* FEEDBACK SECTION */
/* BODY CSS */

@media screen and (max-width: 768px) {
	/* BODY CSS */
	.intro{
		flex-direction: column;
	}
	.intro img{
		margin:0 auto;
		width:75%;
	}
	.intro .slogan{
		font-size:2em;
	}

	.tujuan-list{
		flex-direction:column;
	}
	.tujuan .isi{
		font-size:1em;
	}

	.outro .mulai{
		font-size:1.2em;
	}

	.stories-section {
		padding: 96px 16px;
	}

	.slider-section {
		padding: 96px 16px;
	}
	.slide-img{
		padding:0 16px;
	}

	.banner {
		padding: 96px 16px;
	}
	/* BODY CSS */
}