/* BODY CSS */
.intro {
  display: flex;
  justify-content: space-around;
  padding: 96px 16px 64px 16px;
  background-color: var(--bg-color);
  gap: 32px;
}
.intro img {
  width: 50%;
}
.intro .slogan {
  margin: auto 0;
  text-align: center;
  font-size: 2em;
  color: var(--color);
}
/* _____________________ */
.tujuan {
  text-align: center;
  background-color: var(--bg-color);
  padding-bottom: 10em;
}
.tujuan .header {
  font-size: 2em;
  color: var(--color);
  padding-bottom: 2rem;
}
.tujuan-list {
  display: flex;
}
.tujuan .isi {
  padding: 16px;
  margin: 8px auto 8px auto;
  font-size: 1.5em;
  color: var(--color);
  background-color: var(--sectioncolor);
}
/* _____________________ */
.outro {
  text-align: center;
  background-color: var(--bg-color);
  padding-bottom: 10em;
}
.outro .mulai {
  padding: 16px;
  color: #fff;
  font-size: 1em;
  background-color: var(--buttoncolor);
}
/* _____________________ */
.event-section {
  background: var(--bg-color);
  padding: 96px 32px;
}
.event-section-header {
  color: var(--color);
  font-size: 2em;
  padding-bottom: 64px;
}
.ourevent {
  font-family: Caveat, sans-serif;
  color: var(--color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4em;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.ourevent a {
  cursor: pointer;
}
.event-grid {
  background: var(--sectioncolor);
}
.code {
  color: var(--color);
  transition: color 0.3s ease-out;
}
.event-grid:hover .code {
  color: var(--buttoncolor);
}
.event-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
.event-text {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
/* _____________________ */
.achievement-section {
  background: var(--bg-color);
  padding: 96px 32px;
}
.achievement-section-header {
  color: var(--color);
  font-size: 2em;
  padding-bottom: 64px;
}
.ourachievement {
  font-family: Caveat, sans-serif;
  color: var(--color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4em;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.ourachievement a {
  cursor: pointer;
}
.achievement-grid {
  background: var(--sectioncolor);
}
.code {
  color: var(--color);
  transition: color 0.3s ease-out;
}
.achievement-grid:hover .code {
  color: var(--buttoncolor);
}
.achievement-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
.achievement-text {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
/* _____________________ */
.gallery-section {
  background: var(--bg-color);
  padding: 96px 32px;
}
.gallery-section-header {
  color: var(--color);
  font-size: 2em;
  background-color: var(--bg-color);
  padding-bottom: 64px;
}
.slider {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow: hidden;
}
.slide-img {
  padding: 0 32px;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
}
/* _____________________ */
.member-section {
  background: var(--bg-color);
  padding: 96px 32px;
}
.member-section-header {
  color: var(--color);
  font-size: 2em;
  padding-bottom: 64px;
}
.ourmember {
  font-family: Caveat, sans-serif;
  color: var(--color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4em;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.ourmember a {
  cursor: pointer;
}
.member-grid {
  background: var(--sectioncolor);
}
.code {
  color: var(--color);
  transition: color 0.3s ease-out;
}
.member-grid:hover .code {
  color: var(--buttoncolor);
}
.member-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
.member-text {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
.banner {
  /* BLUE : #007bff */
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 32px;
}
.bh-reminder {
  padding: 16px;
  background: var(--buttoncolor);
  color: white;
  font-size: 1.5em;
  border-radius: 8px;
}
.nowTime {
  padding-top: 16px;
  color: var(--color);
  font-size: 1.5em;
}
/* SLIDER SECTION */
/* BODY CSS */

@media screen and (max-width: 768px) {
  /* BODY CSS */
  .intro {
    flex-direction: column;
  }
  .intro img {
    margin: 0 auto;
    width: 75%;
  }
  .intro .slogan {
    font-size: 2em;
  }

  .tujuan-list {
    flex-direction: column;
  }
  .tujuan .isi {
    font-size: 1em;
  }

  .outro .mulai {
    font-size: 1.2em;
  }

  .event-section {
    padding: 96px 16px;
  }

  .achievement-section {
    padding: 96px 16px;
  }

  .gallery-section {
    padding: 96px 16px;
  }
  .slide-img {
    padding: 0 16px;
  }

  .gallery-section {
    padding: 96px 16px;
  }

  .banner {
    padding: 96px 16px;
  }
  /* BODY CSS */
}
