body {
  font-family: 'Bebas Neue', sans-serif;
}

.navbar-nav .nav-item {
  padding: 0 8px;
}

.div-parts h1 {
  padding: 8px;
  font-size: 56px;
}

@media (max-width: 576px) {
  .div-parts h1 {
    font-size: 48px;
  }
}

@media (max-width: 360px) {
  .div-parts h1 {
    font-size: 32px;
  }
}

#banner-row {
  display: flex;
  justify-content: center;
  gap: 4em;
}

#banner-event {
  display: flex;
}

.event-button {
  margin: 16px 16px;
  font-size: 24px;
}

.saupnvjt-footer-data {
  color: var(--bs-blue);
  text-decoration: underline;
}

